@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sedan:ital@0;1&display=swap');

body{
    color: #f4f4f4;
    background-color: rgb(15 15 21);
}
.maintitle{
    font-size: 3.5rem;
    font-family: "Sedan", serif;
        font-weight: 500;
        /* font-style: italic; */
        font-style: normal;
}
.maintitleContainer{
    text-align: center;

}
.accountheadContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounthead{
    font-size: 2.6rem;
        font-family: "Sedan", serif;
        font-weight: 500;
        /* font-style: italic; */
        font-style: normal;
        color: rgb(65, 65, 208) !important;
    }
    .accountNum{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(161, 161, 198) !important;
}

.sharebtn{
    background-color: #ffdfa2;
    color: #0f0f15;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top:7%;
    left:3%;
}
.custom-file-upload {
    /* background-color: rgb(65, 65, 208);
        color: #ffffff;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        border: none;
        border-radius: 30px;
        padding: 12px 26px;
        cursor: pointer;
        transition: all 0.3s ease; */
        padding: 10px 30px;
    border: none;
    background-color: #4141D0;
    border-radius: 20px 0 0 20px;
    font-size: larger;
    cursor: pointer;
        
}

.custom-file-upload:hover {
    background: rgb(20, 20, 115);
    color: wheat;
}


.uploadBtn{ 
        /* background-color: #ffdfa2; */
    /* background-color: rgb(65, 65, 208);
            color: #ffffff;
            font-family: "Quicksand", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.2rem;
            border: none;
            border-radius: 30px;
            /* padding: 0.5rem 1rem; */
        /* padding: 12px 26px;
            cursor: pointer;
            transition: all 0.3s ease;  */
            padding: 10px 30px;
    border: none;
    color: black;
    background-color: #cde918;
    border-radius: 0 20px 20px 0;
    font-size: larger;
    cursor: pointer;
}

.uploadBtn:hover {
    padding: 10px 30px;
    border:none;
    color: black;
    background-color: #aac114 !important;
    border-radius: 0 20px 20px 0;
    font-size: larger;
}

.fileInput {
    background-color: rgb(38, 36, 34);
    border: none;
    width: 250px;
    font-size: 18px;
    text-align: center;
}
.fileNameDisplay{
    margin-left:12px;
    margin-right:12px;
}
.uploadBtn:hover {
        background: rgb(20, 20, 115);
    color: rgb(255, 255, 255);
}
.uploaddiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayImgdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acc{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.acc input{
    background-color: rgb(38, 36, 34);
    width: 850px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 25px;
    font-size: 20px;
    border: none;
    color: white;
}

.acc input:focus {
    background-color: rgb(38, 36, 34);
    color: white;
}
.heading{
    font-size: 30px;
    font-weight: 400;
    margin-top: 22px;
    margin-right: 17px;
    padding-left: 80px;
    color: #A1A1C6;
}



.addressinput{
    margin-top: 25px;
    padding: 10px 14px;
    color: #ffe9e9 !important;
    background-color: #070911 !important;
    border-radius: 10px;
    border :2px solid rgb(148, 142, 142) ;
    width: 300px;
}
addressinput::placeholder{
    color: #ffe9e9 !important;
    /* color: #ffdfa2; */
}
.searchFiles{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    border: none;
    /* padding: 0.5rem 1rem; */
    color: #ffffff;
    border-radius: 30px;
    background-color: rgb(65, 65, 208);
        padding:12px 26px;
                cursor: pointer;
                transition: all 0.3s ease;
                margin-top: 20px;
}
.searchFiles:hover{
        background: rgb(20, 20, 115);
    color: rgb(255, 255, 255);
}
a{
    color: inherit;
    text-decoration: none;
}
.boxx{
    padding: 1px 31px;
    border-radius: 15px;

    background-color: #072514 !important;
    color: #ffe415 !important;
    margin-top: 15px;
    border : 1px solid wheat;
}
.boxx h5{
    font-size: 1.5rem;
}

.dataDiv{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}