
.file {
    display: flex;
    justify-content: space-evenly;
    gap: 130px;
    align-items: center;
    border: 2px solid white;
    margin-top: 10px;
    padding: 5px 80px;
}
.icons {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btn {
    margin-top: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    border: none;
    color: #ffffff;
        border-radius: 30px;
        background-color: rgb(65, 65, 208);
        padding: 12px 26px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    margin-top: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    border: none;
    color: #ffffff;
    border-radius: 30px;
            background: rgb(20, 20, 115);
    padding: 12px 26px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn_small {
    border-radius: 30px;
    margin-top: 25px;
        background-color: rgb(65, 65, 208);
        padding: 12px 26px;
    /* background-color: #98FB98; */
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 12px 26px;
    border: none;
    font-weight: 500;
}
.download_btn {
    border-radius: 20px;
    /* margin-top: 1px; */
    width: auto;
    background-color: rgb(65, 65, 208);
    padding: 12px 20px;
    /* background-color: #98FB98; */
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 12px 20px;
    border: none;
    font-weight: 500;
}
.whiteBtn {
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: larger;
    /* margin-left: 670px; */
    align-items: center;
}

.whiteBtn:hover {
    background-color: rgb(215, 196, 196);
    border: 2px solid white;
    color: black;
    border-radius:20px;
    font-size: larger;
    cursor: pointer;
}

.acc{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.acc input{
    background-color: rgb(38, 36, 34);
    width: 850px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 25px;
    font-size: 20px;
    border: none;
    color: white;
    margin-right: 45px;
}

.acc input:focus {
    background-color: rgb(38, 36, 34);
    color: white;
    
}
.heading{
    font-size: 30px;
    font-weight: 400;
    margin-top: 22px;
    margin-right: 17px;
    padding-left: 80px;
    color: #A1A1C6;
}
.but-give-revoke{
    display: flex;
    gap:5px;
    /* margin-left: 580px; */
}
.but5{
    padding: 10px 30px;
    border:none;
    background-color: #4fa535;
    border-radius: 15px 0 0 15px;
    font-size: larger;
    margin-bottom: 20px;
    color: white;
}
.but5:hover{
    padding: 10px 30px;
    border:none;
    background-color: #3b7e27;
    border-radius: 15px 0 0 15px;
    font-size: larger;
    
}
.but6{
    padding: 10px 30px;
    border:none;
    background-color: #a50f0f;
    border-radius: 0 15px 15px 0;
    font-size: larger;
    margin-bottom: 20px;
    color: white;
}
.but6:hover{
    padding: 10px 30px;
    border:none;
    background-color: #650a0a;
    border-radius: 0 15px 15px 0;
    font-size: larger;
}



.btn_small1 {
    border-radius: 30px;
    /* margin-bottom: 30px; */
    background-color: rgb(65, 65, 208);

    /* background-color: #98FB98; */
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 10px 32px;
    border: none;
    font-weight: 500;
}
.btn_small:hover {
    border-radius: 30px;
            background: rgb(20, 20, 115);
    padding: 12px 26px;
    /* background-color: #98FB98; */
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 12px 26px;
    border: none;
    font-weight: 500;
}
.acc{
    color: #4141D0;
}